<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>yourGameCollection</title>
    </head>
    <body>
        {{>header}}
        <br>
        {{>flash}}
        <main role="main">
            {{{body}}}
        </main>
    </body>
</html>