<h1>here where you add</h1>

<form method="post" action="/add">
    <label for="Title">Title</label>
    <input id="Title" type="text" name="gameTitle" placeholder="gameTitle">
    <br>
    <label for="develpor">develpor name</label>
    <input id="develpor" type="text" name="develporName" placeholder="develporName">
    <br>
    <label for="Genre"> Genre</label>
    <input id="Genre" type="text" name="Genre" placeholder="Genre">
    <br>
    <label for="GameConsole"> game console</label>
    <input id="GameConsole" type="text" name="gameConsole" placeholder="GameConsole">
    <br>
    <label for="publisher"> publisher</label>
    <input id="publisher" type="text" name="publisher" placeholder="publisher">
    <br>
    <button>add</button>
</form>