<p>hello world</p>

<form method="POST" action="/toSerchFor">
<label for="serchInput">what to serchFor:</label>
<input type="text" name="serchForThis" id="secrchInput">
<br>
<p> what to serch for</p>
<label for="console">console</label>
<input type="checkbox" name="console" id="console" value="console" checked>
<label for="game">game</label>
<input type="checkbox" name="serchgame" id="game" value="game"></input>
<label for="develpor">develpor</label>
<input type="checkbox" name="serchDevelpor" id="develpor" value="develpor">
<br>
<button>test</button>
</form>